{% extends "layout/base.html" %}
{% load staticfiles %}
{% load static %}
{% block title %} WAKAF - Tentang Kami {% endblock %}
{% block content %}
    <body>
    <div class="container-fluid bg-whi p-0">
        <div id="camel-big">
            <img class="img-fluid" src="{% static 'img/camel.png' %}">
        </div>
        <div id="camel-small">
            <img class="img-fluid" src="{% static 'img/camel-small.png' %}">
        </div>
    </div>

    <div class="container-fluid py-5" style="background-color: white; margin-bottom: 5vh;">
        <h4 class="text-center mb-4"><b>Nilai-nilai Yayasan</b></h4>

        <div class="card-deck py-2" style="padding-left: 10vw; padding-right: 10vw;">

            <div class="card">
                <div class="card-body">
                    <img class="mx-auto d-block img-card" src="{% static '/img/layanan1.png' %}">
                    <div class="subheading1 text-center"><h4>PROFESIONAL</h4></div>
                    <p class="subheading2 card-text">Yayasan kami melibatkan profesional yang berpengalaman dalam bisnis serta akademisi yang menguasai bidang keuangan syariah</p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <img class="mx-auto d-block img-card" src="{% static '/img/layanan1.png' %}">
                    <div class="subheading1 text-center"><h4>AMANAH</h4></div>
                    <p class="subheading2 card-text">InsyaAllah, aset dan manfaat wakaf yang dipercayakan kepada kami akan disalurkan secara amanah kepada penerima yang benar-benar membutuhkan</p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <img class="mx-auto d-block img-card" src="{% static '/img/layanan1.png' %}">
                    <div class="subheading1 text-center"><h4>NILAI TAMBAH</h4></div>
                    <p class="subheading2 card-text">Kami senantiasa berusaha untuk meningkatkan nilai aset wakaf sehingga wakaf lebih produktif dan memberikan kebermanfaatan yang lebih luas bagi masyarakat</p>
                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid py-5" style="background-color: rgb(219,235,216);">
        <h4 class="text-center mb-4 custom-bold"><b>Informasi Wakaf</b></h4>
        <div class="row">
            <div class="px-sm-0 px-lg-0 px-md-0 px-xl-5 owl-carousel owl1">
                <div class="card card-info">
                    <img class="card-img-top" src="{% static 'img/aset.png' %}">
                    <div class="card-body card-body-info">

                        <div class="subheading1 subheading1-info"><h4>Aset Wakaf</h4></div>
                        <p class="subheading2 card-text subheading2-info">Aset Wakaf atau benda wakaf adalah kepemilikan saham pada klinik gigi dan tumbuh kembang anak yang akan didirikan oleh wakif. Saham tersebut akan diwakafkan oleh para wakif kepada nazhir untuk dikelola sesuai dengan peruntukan dan prinsip syariah Islam. Seluruh keuntungan bersih dari aset wakaf tersebut akan diberikan kepada masyarakat menjadi manfaat wakaf.</p>
                    </div>
                </div>
                <div class="card card-info">
                    <img class="card-img-top" src="{% static 'img/wakif.png' %}">
                    <div class="card-body card-body-info">
                        <div class="subheading1 subheading1-info"><h4>Wakif (Pewakaf)</h4></div>
                        <p class="subheading2 card-text subheading2-info">Wakif boleh berasal perorangan ataupun organisasi maupun lembaga badan hukum. Wakif memiliki visi yang sama dan berkeinginan untuk mewakafkan sebagian hartanya untuk mendirikan aset wakaf produktif ini.</p>
                    </div>
                </div>
                <div class="card card-info">
                    <img class="card-img-top" src="{% static 'img/nazhir.png' %}">
                    <div class="card-body card-body-info">
                        <div class="subheading1 subheading1-info"><h4>Nazhir (Pengelola) Wakaf</h4></div>
                        <p class="subheading2 card-text subheading2-info">Nazhir wakaf adalah pihak yang menerima harta benda wakaf/aset wakaf dari wakif untuk dikelola dan dikembangkan sesuai dengan peruntukannya. Dalam hal ini Yayasan Wakaf Produktif – Pengelola Aset Islami Indonesia (YWP-PAII) bertindak sebagai Nazhir Wakaf.</p>
                    </div>
                </div>
                <div class="card card-info">
                    <img class="card-img-top" src="{% static 'img/penerima.png' %}">

                    <div class="card-body card-body-info">
                        <div class="subheading1 subheading1-info"><h4>Al-Mauquf'Alaih (Penerima) Wakaf</h4></div>
                        <p class="subheading2 card-text subheading2-info">Mauquf ‘Alaih adalah pihak yang berhak menerima manfaat wakaf dengan kriteria yang tidak terbatas (dapat individu atau lembaga). </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid py-5" id="custom-container-aboutUs" style="background-color: white;">

        <h4 class="text-center mb-4 custom-bold"><b>Manfaat Wakaf</b></h4>
        <p class="custom-book" style="color: rgb(65,76,98);">Manfaat wakaf sangat besar karena tidak ada kriteria tertentu bagi penerimanya. Oleh karena itu, manfaat wakaf dapat diberikan untuk:<br>
            a.  Layanan secara gratis di klinik wakaf (pada hari tertentu) untuk masyarakat dhuafa<br>
            b.  Beasiswa bagi pemuda-pemudi dhuafa sekaligus pembimbingan sekolah ataupun keterampilan untuk siap menempuh dunia kerja.<br>
            c.  Mencanangkan program berkelanjutan yang bekerjasama dengan pemerintah daerah setempat (Contoh: Program Sekolah Bebas Caries)<br>
            d.  Peningkatan sarana dan prasarana ibadah serta meningkatkan kualitas ibadah masyarakat muslim<br>
            e.  Mengembangkan aset wakaf dalam bentuk penambahan alat, bangunan, dan infrastruktur lainnya untuk menunjang sustainability dan berkembangnya aset wakaf di masa yang akan datang<br>
            f.  Kemajuan dan peningkatan ekonomi umat serta kemajuan kesejahteraan umum lainnya yang tidak bertentangan dengan syariah dan peraturan perundang-undangan wakaf
        </p>
    </div>

    <div class="container-fluid py-5" style="background-image: url('/static/img/bg.png');">
        <h4 class="text-center mb-4 custom-bold"><b>Pengurus Yayasan</b></h4>
        <div class="row row-atas-pengurus" style="margin-top: 10vh; margin-bottom: 10vh;">
            <div class="col-md-2 text-center">
{#                <img src="{% static 'img/testiava3.png' %}">#}
                <p class="margin5 custom-medium">Prof. DR. Aliasar, M.Ed.</p>
                <p class="margin-2 custom-book">Pembina</p>
            </div>
            <div class="col-md-2 text-center">
{#                <img src="{% static 'img/testiava3.png' %}">#}
                <p class="margin5 custom-medium">dr. Sakina Umar, Sp. THT</p>
                <p class="margin-2 custom-book">Pembina</p>
            </div>
            <div class="col-md-2 text-center">
{#                <img src="{% static 'img/testiava3.png' %}">#}
                <p class="margin5 custom-medium">Afdhal Aliasar, ST. MM.</p>
                <p class="margin-2 custom-book">Pendiri dan Ketua Umum</p>
            </div>
            <div class="col-md-2 text-center">
{#                <img src="{% static 'img/testiava3.png' %}">#}
                <p class="margin5 custom-medium">Banu Muhammad, SE. MSE.</p>
                <p class="margin-2 custom-book">Wakil Ketua</p>
            </div>
            <div class="col-md-2 text-center">
{#                <img src="{% static 'img/testiava3.png' %}">#}
                <p class="margin5 custom-medium">Arief Aditya, SE</p>
                <p class="margin-2 custom-book">Sekretaris</p>
            </div>
        </div>
        <div class="row row-bawah-pengurus">
            <div class="col-md-2 text-center">
{#                <img src="{% static 'img/testiava3.png' %}">#}
                <p class="margin5 custom-medium">Raymon Aser Nasution, SE. MM.</p>
                <p class="margin-2 custom-book">Bendahara</p>
            </div>
            <div class="col-md-2 text-center">
{#                <img src="{% static 'img/testiava3.png' %}">#}
                <p class="margin5 custom-medium">Muhammad Shaddam Muzaki.</p>
                <p class="margin-2 custom-book">Wakil Bendahara</p>
            </div>
            <div class="col-md-2 text-center">
{#                <img src="{% static 'img/testiava3.png' %}">#}
                <p class="margin5 custom-medium">Naufal Farras Fajar</p>
                <p class="margin-2 custom-book">Tim Kreatif</p>
            </div>
            <div class="col-md-2 text-center">
{#                <img src="{% static 'img/testiava3.png' %}">#}
                <p class="margin5 custom-medium">Ir. Emil B. Sumirat</p>
                <p class="margin-2 custom-book">Pengawas</p>
            </div>
        </div>

        <div class="container-fluid py-5" id="custom-container-aboutUs2" style="margin-bottom: 5vh; margin-top: 40vh;">
            <h4 class="text-center mb-4 custom-bold"><b>Legalitas Yayasan</b></h4>
            <p class="custom-book" style="color: rgb(65,76,98);">1. Akta Pendirian Yayasan Wakaf Produktif Pengelola Aset Islami Indonesia Nomor 01 tanggal 10 Oktober tahun 2018 Notaris : Wita Anjani, S.H., M.Kn.<br>
                2. Surat Keterangan Nomor 1/27.1BY/31.74.04.1001/-071.562/e/2018 Tentang Keterangan Domisili Yayasan<br>
                3. Keputusan Menteri Hukum dan HAM RI Nomor AHU-0014022.AH.01.04.Tahun 2018<br>
                4. Tanda Daftar Yayasan Sosial Nomor 2583/F.2/31/74.04.1001/-1.848/e/2018<br>
                5. Nomor Pokok Wajib Pajak 86.026.916.6-017.000 Yayasan Wakaf Produktif Pengelola Aset Islami Indonesia
            </p>
        </div>
    </div>

    <div class="container-fluid py-5" style="text-align: center; margin-bottom: 10vh;">
        <h4 class="text-center mb-4 custom-bold"><b>Lokasi Yayasan</b></h4>
        <div id="map-big" class="mapouter-big"><div class="gmap_canvas-big"><iframe width="750" height="500" id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.816919813341!2d106.83843041476943!3d-6.28777969544913!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f33e675adaab%3A0x2ab6b328f805c130!2sYayasan+Wakaf+Produktif+-+Pengelola+Aset+Islami+Indonesia!5e0!3m2!1sen!2sid!4v1547897997776" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.crocothemes.net">crocothemes.net</a></div><style>.mapouter-big {text-align:right;height:500px;width:750px;}.gmap_canvas-big {overflow:hidden;background:none!important;height:500px;width:750px;}</style></div>
        <div id="map-small" class="mapouter-small"><div class="gmap_canvas-small"><iframe width="300" height="400" id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.816919813341!2d106.83843041476943!3d-6.28777969544913!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f33e675adaab%3A0x2ab6b328f805c130!2sYayasan+Wakaf+Produktif+-+Pengelola+Aset+Islami+Indonesia!5e0!3m2!1sen!2sid!4v1547897997776" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.crocothemes.net">crocothemes.net</a></div><style>.mapouter-small {text-align:right;height:400px;width:300px;}.gmap_canvas-small {overflow:hidden;background:none!important;height:400px;width:300px;}</style></div>

    </div>
    <style>
        .owl-prev {
            width: 15px;
            height: 100px;
            position: absolute;
            top: 30%;
            margin-left: -35px;
            display: block !important;
            border:0px solid black;
        }

        .owl-next {
            width: 15px;
            height: 100px;
            position: absolute;
            top: 30%;
            right: 20px;
            display: block !important;
            border:0px solid black;
        }
        .owl-prev i, .owl-next i {font-size: 30px; color: #333;}
        @media only screen and (max-width: 1025px) {
            .owl-prev{
                width: 1em;
                right: 1em;
                margin: 1em;
                height: 1em;
                top: 0.1em;
                position: relative;
                margin-left: 40%;

            }

            .owl-next{
                width: 1em;
                right: 1em;
                margin: 1em;
                height: 2em;
                position: relative;
                top: -31px;
                margin-left: 60%;
                margin-bottom: -30px;
            }
            .owl-dots {display: none;}

        }

        .carousel-inner img {
            width: 100%;
            height: 100%;
        }

        .owl-carousel .owl-item img {
            max-height: 240px;
            width: auto;
        }

        div.text-center > a {
            color: white;
            font-weight: bolder;

        }
        div.text-center > a:link {
            color: white;
            background-color: transparent;
            text-decoration: none;
        }
        #button-donasi, #button-donasi-modal {
            color: white;
            background-color: #5E9A78;
            border-radius: 15px;
            margin-top: 5%;
        }

        div.card-footer {
            margin-top: 30px;
            background-color: #F5DD85;
        }

        .heading {
            font-family: CircularStd-Black;
            color: #5E9A78;
        }

        .subheading1 {
            font-family: CircularStd-Bold
        }

        .subheading2 {
            font-family: CircularStd-Book
        }

        {
            font-family: CircularStd-Medium
        }
        .margin5 {
            margin-top: 5vh;
        }
        .margin-2 {
            margin-top: -2vh;
        }
        .mapouter-small {
            display: inline-block;
        }
        .mapouter-big {
            display: inline-block;
        }

        .custom-book {
            font-family: CircularStd-Book !important;
        }

        .custom-bold {
            font-family: CircularStd-Bold !important;
        }

        .custom-black {
            font-family: CircularStd-Black !important;
        }

        .custom-medium {
            font-family: CircularStd-Medium !important;
        }
    </style>
    </body>
{% endblock %}


