{% extends "layout/base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}

    <div class="container-fluid py-3" style="background-color:  #FFFFFF">
        <p class="px-3 mb-1 custom-bold"><b>Artikel</b></p>
        <h4 class="px-3 mb-4 custom-bold"><b>Artikel Rekomendasi</b></h4>
        <div class="row">
            <div class="container artikel-rekomendasi">
                <div class="px-sm-0 px-lg-0 px-md-0 px-xl-5 owl-carousel owl1" >
                    {% for artikel in listArtikelRekomendasi %}
                        <div class="card card-info-artikel">
                            <img class="card-img-top" src="{{ artikel.parent.urlFoto }}" style="width: 100%; height: 250px;">
                            <div class="card-body card-body-info">

                                <li class="label"><p class="tags custom-book">{{ artikel.parent.tags }}</p></li>

                                <div class="subheading1 subheading1-info-artikel"><h4><b>{{ artikel.parent.judul }}</b>    </h4></div>
                                <p class="subheading2 card-text subheading2-info-artikel">{{ artikel.parent.konten_short }}</p>
                                <p class="custom-book" style="text-align:right;padding-right:4%;color: #5E9A78" data-toggle="modal" data-target="#artikel-rekomen{{ artikel.parent.pk }}">... Baca Selengkapnya</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% for artikel in listArtikelRekomendasi %}
            <div class="modal fade" id="artikel-rekomen{{ artikel.parent.pk }}">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <img src="{{ artikel.parent.urlFoto }}" class="img-modal">

                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="main">
                                <h5 class="text-center">{{ artikel.parent.judul }}</h5>

                                <p style="text-align: justify">{{ artikel.parent.konten }}</p>
                            </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="container-fluid" style="margin-top: 5%">
            {% for artikel in listArtikel %}

                <div class="media border p-3">
                    <img src="{{ artikel.urlFoto }}" class="img-media-big mr-3">
                    <div class="media-body">
                        <img src="{{ artikel.urlFoto }}" class="img-media-small mr-3 mb-3">

                        <h4 class="custom-bold">{{ artikel.judul }}</h4>
                        <p class="custom-book">{{ artikel.konten_short }}</p>
                        <p class="custom-book" style="text-align:right;color: #5E9A78" data-toggle="modal" data-target="#myModal{{ artikel.pk }}">... Baca Selengkapnya</p>
                    </div>
                </div>


                <div class="modal fade" id="myModal{{ artikel.pk }}">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <img src="{{ artikel.urlFoto }}" class="img-modal">

                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <div class="main">
                                    <h5 class="text-center">{{ artikel.judul }}</h5>

                                    <p style="text-align: justify">{{ artikel.konten }}</p>
                                </div>
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>

                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>

    <div class="pagination text-center container-fluid">

        <ul style="padding: 0">
            {% if listArtikel.has_previous %}
                <li><a href="?page={{ listArtikel.previous_page_number }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
            {% else %}
                <li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
            {% endif %}

            {% if listArtikel.number|add:'-4' > 1 %}
                <li><a href="?page={{ listArtikel.number|add:'-5' }}">&hellip;</a></li>
            {% endif %}

            {% for i in listArtikel.paginator.page_range %}
                {% if listArtikel.number == i %}
                    <li><a class="active" href="?page={{ i }}">{{ i }}</a></li>
                {% elif i > listArtikel.number|add:'-5' and i < listArtikel.number|add:'5' %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if listArtikel.paginator.num_pages > listArtikel.number|add:'4' %}
                <li><a href="?page={{ listArtikel.number|add:'5' }}">&hellip;</a></li>
            {% endif %}

            {% if listArtikel.has_next %}
                <li><a href="?page={{ listArtikel.next_page_number }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
            {% else %}
                <li class="disabled"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
            {% endif %}

        </ul>
    </div>

    <style type="text/css">
        .owl-prev {
            width: 15px;
            height: 100px;
            position: absolute;
            top: 40%;
            margin-left: -50px;
            display: block !important;
            border:0px solid black;
        }

        .owl-next {
            width: 15px;
            height: 100px;
            position: absolute;
            top: 40%;
            right: 20px;
            display: block !important;
            border:0px solid black;
        }
        .owl-prev i, .owl-next i {font-size: 30px; color: #333;}
        @media only screen and (max-width: 1025px) {
            .owl-prev{
                width: 1em;
                right: 1em;
                margin: 1em;
                height: 1em;
                top: 0.1em;
                position: relative;
                margin-left: 40%;

            }

            .owl-next{
                width: 1em;
                right: 1em;
                margin: 1em;
                height: 2em;
                position: relative;
                top: -31px;
                margin-left: 60%;
                margin-bottom: -30px;
            }
            .owl-dots {display: none;}

        }

        .artikel-rekomendasi{
            padding-right: 6%;
            padding-left: 10%;
        }

        @media only screen and (max-width: 1025px) {
            .artikel-rekomendasi{
                padding-left: 1%;
            }
        }

        .tags {
            background:     #EAF9F4;
            text-align: center;
            border-radius: 30px 30px 30px 30px;
            color: #0bba89;
            padding: 5px 10px;
            font-size: 14px;
            display: inline-block;
            margin-bottom: 0;
        }
        .label {
            padding: 5% 5%;
            display: inline-block;
        }

        .img-modal{
            width: 300px;
            height: 200px;
            margin-left: auto;
            margin-right:-10px;
            display: block

        }
        @media only screen and (max-width: 767px) {
            .img-media-big{
                display: none;
            }
            .img-media-small{
                width: 100%;
            }
        }

        @media only screen and (min-width: 768px) {
            .img-media-small{
                display: none;
            }
            .img-media-big{
                width: 300px;
                height: 200px;
            }
        }

        .pagination {
            display: inline-block;
        }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            border: 1px solid #ddd;
        }

        .pagination a.active {
            background-color: #4CAF50;
            color: white;
            border: 1px solid #4CAF50;
        }

        .pagination a:hover:not(.active) {background-color: #ddd;}

        .pagination a:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        .pagination a:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        ul > li {
            display: inline-block;
        }

        li.disabled {
            display: none;
        }


    </style>

    </body>
{% endblock %}