{% extends "layout/base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}

    <div class="container bg-white py-3">
        <div class="row">
            <h5 class="px-4"> <b> PORTOFOLIO KAMI </b></h5>
        </div>
        <div class="row">
            <h2 class="px-4"><b>Kami mengembangkan berbagai layanan yang memudahkan masyarakat</b></h2>
        </div>
        <div class="row">
            <div class="px-sm-0 px-lg-0 px-md-0 px-xl-5 owl-carousel">
                <img class=img-fluid" src="{% static 'img/carousel2.png'%}">
                <img class=img-fluid" src="{% static 'img/carousel1.png'%}">
                <img class=img-fluid" src="{% static 'img/carousel3.png'%}">
                <img class=img-fluid" src="{% static 'img/carousel1.png'%}">
            </div>
        </div>
    </div>
    <div class="container-fluid py-3" style="background-color: 	#FAF6F3">
        <p class="text-center mb-1"><b>APA YANG DAPAT KAMI BANTU</b></p>
        <h5 class="text-center mb-4"><b>Kami menyediakan berbagai layanan untuk membantu usaha anda</b></h5>

        <div class="card-deck py-2px-3">
            <div class="card">
                <div class="card-body">
                    <img class="img-fluid" src="{% static '/img/layanan1.png' %}">
                    <div class="text-center"><h4><b>Layanan #1</b>    </h4></div>
                    <p class="card-text">Some text inside the first card</p>
                </div>
                <div class="card-footer">
                    <a href="facebook.com">haloooo</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <p class="card-text">Some text inside the second card</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <p class="card-text">Some text inside the third card</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <p class="card-text">Some text inside the fourth card</p>
                </div>
            </div>
        </div>
    </div>

    <style>
        .owl-prev {
            width: 15px;
            height: 100px;
            position: absolute;
            top: 25%;
            margin-left: -65px;
            display: block !important;
            border:0px solid black;
        }

        .owl-next {
            width: 15px;
            height: 100px;
            position: absolute;
            top: 25%;
            right: 20px;
            display: block !important;
            border:0px solid black;
        }
        .owl-prev i, .owl-next i {font-size: 30px; color: #333;}
        @media only screen and (max-width: 1025px) {
            .owl-prev{
                width: 1em;
                right: 1em;
                margin: 1em;
                height: 1em;
                top: 0.1em;
                position: relative;
                margin-left: 40%;

            }

            .owl-next{
                width: 1em;
                right: 1em;
                margin: 1em;
                height: 2em;
                position: relative;
                top: -31px;
                margin-left: 60%;
                margin-bottom: -30px;
            }
            .owl-dots {display: none;}

        }
    </style>

{% endblock %}


