{% extends "layout/base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}

    <div class="container bg-white py-3">
        <div class="row">
            <h5 class="px-4"> <b> PORTOFOLIO KAMI </b></h5>
        </div>
        <div class="row">
            <h2 class="px-4"><b>Kami mengembangkan berbagai layanan yang memudahkan masyarakat</b></h2>
        </div>
        <div class="row">
            <div class="px-sm-0 px-lg-0 px-md-0 px-xl-5 owl-carousel">
                <img class=img-fluid" src="{% static 'img/carousel2.png'%}">
                <img class=img-fluid" src="{% static 'img/carousel1.png'%}">
                <img class=img-fluid" src="{% static 'img/carousel3.png'%}">
                <img class=img-fluid" src="{% static 'img/carousel1.png'%}">
            </div>
        </div>
    </div>
    <div class="container-fluid py-3" style="background-color: 	#FAF6F3">
        <p class="text-center mb-1"><b>APA YANG DAPAT KAMI BANTU</b></p>
        <h5 class="text-center mb-4"><b>Kami menyediakan berbagai layanan untuk membantu usaha anda</b></h5>

        <div class="card-deck py-2 px-3">

            <div class="card">
                <div class="card-body">
                    <img class="mx-auto d-block img-card" src="{% static '/img/layanan1.png' %}">
                    <div class="text-center"><h4><b>Layanan #1</b>    </h4></div>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a cursus diam, vel ultricies enim. Nunc suscipit eu est id malesuada. </p>
                </div>
                <div class="card-footer">
                    <div class="text-center"><a href="/"><b>Pelajari</b></a></div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <img class="mx-auto d-block img-card" src="{% static '/img/layanan2.png' %}">
                    <div class="text-center"><h4><b>Layanan #2</b>    </h4></div>
                    <p class="card-text">Integer dapibus orci in sapien venenatis, non suscipit dolor lobortis. Vivamus condimentum viverra odio eu accumsan.</p>
                </div>
                <div class="card-footer">
                    <div class="text-center"><a href="/"><b>Pelajari</b></a></div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <img class="mx-auto d-block img-card" src="{% static '/img/layanan3.png' %}">
                    <div class="text-center"><h4><b>Layanan #3</b></h4></div>
                    <p class="card-text">Vivamus tincidunt, velit vitae suscipit laoreet, felis nisi consequat mi, ac placerat mauris sapien at lectus. Sed sed dui ut augue luctus maximus sed et lacus.</p>
                </div>
                <div class="card-footer">
                    <div class="text-center"><a href="/"><b>Pelajari</b></a></div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <img class="mx-auto d-block img-card" src="{% static '/img/layanan4.png' %}">
                    <div class="text-center"><h4><b>Layanan #4</b></h4></div>
                    <p class="card-text">Curabitur sodales diam ac leo tincidunt, non ultrices odio tincidunt. Mauris ipsum ante, imperdiet sit amet eros eget, aliquam vestibulum quam</p>
                </div>
                <div class="card-footer">
                    <div class="text-center"><a href="/"><b>Pelajari</b></a></div>
                </div>
            </div>

        </div>
    </div>
    <div class="container-fluid py-3" style="background-color: 	#FFFFFF">
        <p class="text-center mb-1"><b>CARA KAMI BEKERJA</b></p>
        <h5 class="text-center mb-4"><b>Bagaimana WAKAF bekerja</b></h5>

        <div class="card-deck py-2 px-3" id="cobain">

            <div class="card">
                <img class="card-img-top" src="{% static '/img/carakerja1.png' %}">
                <div class="card-body">
                                        <li class="label"><p class="tags">Wiraswasta</p></li>

                    <div><h4><b>Pengembangan Ide UKM Depok</b>    </h4></div>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a cursus diam, vel ultricies enim. Nunc suscipit eu est id malesuada. </p>
                </div>

            </div>

            <div class="card">
                <img class="card-img-top" src="{% static '/img/carakerja2.png' %}">

                <div class="card-body">
                    <li class="label"><p class="tags">Bisnis</p></li>

                    <div><h4><b>Business Re-engineering</b>    </h4></div>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a cursus diam, vel ultricies enim. Nunc suscipit eu est id malesuada. </p>
                </div>

            </div>
        </div>


    </div>

    <style>
        .owl-prev {
            width: 15px;
            height: 100px;
            position: absolute;
            top: 25%;
            margin-left: -65px;
            display: block !important;
            border:0px solid black;
        }

        .owl-next {
            width: 15px;
            height: 100px;
            position: absolute;
            top: 25%;
            right: 20px;
            display: block !important;
            border:0px solid black;
        }
        .owl-prev i, .owl-next i {font-size: 30px; color: #333;}
        @media only screen and (max-width: 1025px) {
            .owl-prev{
                width: 1em;
                right: 1em;
                margin: 1em;
                height: 1em;
                top: 0.1em;
                position: relative;
                margin-left: 40%;

            }

            .owl-next{
                width: 1em;
                right: 1em;
                margin: 1em;
                height: 2em;
                position: relative;
                top: -31px;
                margin-left: 60%;
                margin-bottom: -30px;
            }
            .owl-dots {display: none;}

        }
        #cobain{
            margin-left: 50px;
            margin-right: 50px;
        }

        .tags {
            background: 	#EAF9F4;
            text-align: center;
            border-radius: 30px 30px 30px 30px;
            color: #0bba89;
            padding: 5px 10px;
            font-size: 14px;
            display: inline-block;
            font-weight: bold;
        }
        .label {
            display: inline-block;
        }
    </style>

{% endblock %}


