{% extends "layout/base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
    <title>Assets</title>
    <body>
    <div class="container-fluid py-3" style="background-color: 	#FFFFFF">
        <p class="px-3 mb-1 custom-bold"><b>PROGRAM</b></p>
        <h4 class="px-3 mb-4 custom-bold"><b>Unit Bisnis Kami</b></h4>

        <div class="card-deck py-2 px-3 cara-kerja">
            {% for program in listProgram %}
                {% if forloop.counter|divisibleby:4 %}
                    </div>
                    <div class="card-deck mt-3 py-2 px-3 cara-kerja">
                    <div class="card">
                        <img class="card-img-top" src="{{ program.urlFoto }}">
                        <div class="card-body">

                            <div class="custom-bold"><h4><b>{{ program.judul }}</b></h4></div>
                            <p class="card-text custom-book">{{ program.konten }}</p>
                        </div>

                        <div class="card-footer" data-toggle="modal" data-target="#myModal{{ program.pk }}">
                            <div class="text-center custom-bold"><a href="#card-footer"><b>Lihat Indikator</b></a></div>
                        </div>

                    </div>
                {% else %}

                    <div class="card">
                        <img class="card-img-top" src="{{ program.urlFoto }}">
                        <div class="card-body">

                            <div class="custom-bold"><h4><b>{{ program.judul }}</b></h4></div>
                            <p class="card-text custom-book">{{ program.konten|linebreaks }}</p>
                        </div>

                        <div class="card-footer" data-toggle="modal" data-target="#myModal{{ program.pk }}">
                            <div class="text-center custom-bold"><a href="#card-footer"><b>Lihat Detail</b></a></div>
                        </div>
                    </div>
                {% endif %}
                <div class="modal fade" id="myModal{{ program.pk }}">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <img src="{{ program.urlFoto }}" style="width:100%;">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <div class="main">
                                    <h5 class="indikator">{{ program.judul }} - Indikator</h5>

                                    <p>
                                        {{ program.indikator }}
                                    </p>
                                </div>
                                <a href="https://api.whatsapp.com/send?phone=6281290609550&text=Assalamualaikum,%20saya%20ingin%20bertanya" class="btn btn-dark m-0" id="button-pesan" style="background-color:#A6CD9D;width: 100%;">
                                    <strong>
                                        <i class="fa fa-whatsapp mr-2"style="font-size: 20px"></i>
                                        <p class="m-0" style="display: inline-block">Tertarik Bekerjasama?</p>
                                    </strong>
                                </a>
                            </div>


                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
    </div>
    {#    <div class="container-fluid p-lg-5 bg-white">#}
    {#        <div class="row px-3 px-lg-5" id="banner">#}
    {##}
    {#            <div class="col-lg-6 col-md-4 col-sm-4 py-lg-5">#}
    {#                <ul>#}
    {#                    <h5 class="kerjasama" style="font-weight: bolder">Tertarik bekerjasama</h5></ul>#}
    {#                <ul><p class="kerjasama" style="color: white">kami akan menghubungi anda kembali setelah anda meninggalkan pesan</p></ul>#}
    {#            </div>#}
    {#            <div class="col-lg-6 col-md-8 col-sm-8 p-lg-5">#}
    {#                <button class="btn btn-light" id="button-pesan"><strong>Tinggalkan Pesan</strong></button>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}




    </body>

    <style>
        div.text-center > a {
            color: white;
            font-weight: bolder;

        }
        div.text-center > a:link {
            color: white;
            background-color: transparent;
            text-decoration: none;
        }
        .main {
            max-width: 960px;
            margin: auto;
        }


        .indikator {
            padding-left: 25px;
            font-weight: 500;
            color: #5E9A78;

        }


        .close {
            position: fixed;
            right: 6%;
            color: white;
            font-weight: 900;
        }

    </style>

{% endblock %}
