{% extends "layout/base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}

    <body>
    <div class="container-fluid p-5" style="background-color: rgb(219,235,216);">
        <h4 class="text-center mb-4 custom-bold"><b>Assalamu'alaikum Warrahmatullahi Wabarakaatuh</b></h4>
        <p class="text-center custom-medium" style="color: rgb(65,76,98);">

            Alhamdulillah, formulir donasi dari {{ kelamin }} {{ nama }} telah kami terima. <br>
        </p><p class="custom-book   ">
        Kami mengucapkan terima kasih kepada {{ kelamin }} {{ nama }} karena telah melakukan donasi kepada
        Yayasan Wakaf Produktif - Pengelola Aset Islami Indonesia.<br>

        Berikut adalah rincian donasi {{ kelamin }} {{ nama }}:

        <div class="row">
            <div class="col-md-2">No. Transaksi</div>
            <div class="col-md-10">: <b>{{ id_transaksi }}</b></div>
        </div>
        <div class="row">
            <div class="col-md-2">Tanggal Transaksi</div>
            <div class="col-md-10">: <b>{{ created_on }}</b></div>
        </div>
        <div class="row">
            <div class="col-md-2">Nama</div>
            <div class="col-md-10">: <b>{{ nama }}</b></div>
        </div>
        <div class="row">
            <div class="col-md-2">Tanggal Lahir</div>
            <div class="col-md-10">: <b>{{ birth }}</b></div>
        </div>
         <div class="row">
            <div class="col-md-2">Alamat</div>
            <div class="col-md-10">: <b>{{ alamat }}</b></div>
        </div>
         <div class="row">
            <div class="col-md-2">Domisili</div>
            <div class="col-md-10">: <b>{{ domisili }}</b></div>
        </div>
         <div class="row">
            <div class="col-md-2">Jumlah Donasi</div>
            <div class="col-md-10">:<b>Rp. {{ nominal }}</b></div>
        </div>
         <div class="row">
            <div class="col-md-2">Kode Unik</div>
            <div class="col-md-10">: <b>{{ kode_transfer }}</b></div>
        </div>
         <div class="row">
            <div class="col-md-2">Nominal Transfer</div>
            <div class="col-md-10">: <b>Rp. {{ jumlah_donasi }}</b></div>
        </div>

        </p>
    </div>
    <style>
        .owl-prev {
            width: 15px;
            height: 100px;
            position: absolute;
            top: 30%;
            margin-left: -35px;
            display: block !important;
            border:0px solid black;
        }

        .owl-next {
            width: 15px;
            height: 100px;
            position: absolute;
            top: 30%;
            right: 20px;
            display: block !important;
            border:0px solid black;
        }
        .owl-prev i, .owl-next i {font-size: 30px; color: #333;}
        @media only screen and (max-width: 1025px) {
            .owl-prev{
                width: 1em;
                right: 1em;
                margin: 1em;
                height: 1em;
                top: 0.1em;
                position: relative;
                margin-left: 40%;

            }

            .owl-next{
                width: 1em;
                right: 1em;
                margin: 1em;
                height: 2em;
                position: relative;
                top: -31px;
                margin-left: 60%;
                margin-bottom: -30px;
            }
            .owl-dots {display: none;}

        }

        .carousel-inner img {
            width: 100%;
            height: 100%;
        }

        .owl-carousel .owl-item img {
            max-height: 240px;
            width: auto;
        }

        div.text-center > a {
            color: white;
            font-weight: bolder;

        }
        div.text-center > a:link {
            color: white;
            background-color: transparent;
            text-decoration: none;
        }
        #button-donasi, #button-donasi-modal {
            color: white;
            background-color: #5E9A78;
            border-radius: 15px;
            margin-top: 5%;
        }

        div.card-footer {
            margin-top: 30px;
            background-color: #F5DD85;
        }

        .heading {
            font-family: CircularStd-Black;
            color: #5E9A78;
        }

        .subheading1 {
            font-family: CircularStd-Bold
        }

        .subheading2 {
            font-family: CircularStd-Book
        }

        {
            font-family: CircularStd-Medium
        }
        .margin5 {
            margin-top: 5vh;
        }
        .margin-2 {
            margin-top: -2vh;
        }
        .mapouter-small {
            display: inline-block;
        }
        .mapouter-big {
            display: inline-block;
        }

        .custom-book {
            font-family: CircularStd-Book !important;
        }

        .custom-bold {
            font-family: CircularStd-Bold !important;
        }

        .custom-black {
            font-family: CircularStd-Black !important;
        }

        .custom-medium {
            font-family: CircularStd-Medium !important;
        }
    </style>
    </body>
{% endblock %}


