{% extends "layout/base.html" %}
{% load staticfiles %}
{% load static %}
{% block title %} WAKAF - Terima Kasih {% endblock %}

{% block content %}

    <body>
        <div class="container-fluid p-5" style="background-color: rgb(219,235,216);">
        <h4 class="text-center mb-4 custom-bold"><b>Assalamu'alaikum Warrahmatullahi Wabarakaatuh</b></h4>

        <p class="custom-book">
            Terima kasih, lembar formulir konfirmasi donasi sudah kami terima. Tim kami akan segera menghubungi Anda.
        </p>

    <p>Untuk informasi lebih lanjut, hubungi kami di info@wakaf.paii.co.id</p>

    <div class="text-center mt-3">
        <a href="/" class="btn" id="button-konfirmasi"><strong class="custom-bold">Kembali ke laman utama</strong></a>
    </div>
    </div>
    <style>

        .heading {
            font-family: CircularStd-Black;
            color: #5E9A78;
        }

        .subheading1 {
            font-family: CircularStd-Bold
        }

        .subheading2 {
            font-family: CircularStd-Book
        }

        {
            font-family: CircularStd-Medium
        }
        .margin5 {
            margin-top: 5vh;
        }
        .margin-2 {
            margin-top: -2vh;
        }
        .mapouter-small {
            display: inline-block;
        }
        .mapouter-big {
            display: inline-block;
        }

        .custom-book {
            font-family: CircularStd-Book !important;
        }

        .custom-bold {
            font-family: CircularStd-Bold !important;
        }

        .custom-black {
            font-family: CircularStd-Black !important;
        }

        .custom-medium {
            font-family: CircularStd-Medium !important;
        }

        #button-konfirmasi{
            color: white;
            background-color: #5E9A78;
            border-radius: 15px;
        }
    </style>
    </body>
{% endblock %}


