@media screen and (min-width: 768px){
	#camel-small{
		display: none;
	}
	#custom-container-aboutUs {
		padding-left: 30vw;
		padding-right: 30vw;
	}
	#custom-container-aboutUs2 {
		padding-left: 20vw;
		padding-right: 20vw;
	}
	.row-atas-pengurus {
        padding-left: 14vw;
    }
    .row-bawah-pengurus {
        padding-left: 22vw;
    }
    #map-small {
    	display: none;
    }
    .card-info {
    	width: 30vw !important;
    	height: 430px !important;
    	margin-right: 5vw !important;
    }
    .card-body-info {
    	padding: 0 !important;
    }
    .subheading1-info {
    	margin-top: 3vh !important;
    	padding-left: 20px !important;
    	padding-right: 20px !important;
    }
    .subheading2-info {
    	padding-left: 20px !important;
    	padding-right: 20px !important;
    	font-size: 15px !important;
    }
}

@media screen and (max-width: 768px){
	#camel-big{
		display: none;
	}
	#custom-container-aboutUs {
		padding-left: 10vw;
		padding-right: 10vw;
	}
	#custom-container-aboutUs2 {
		padding-left: 10vw;
		padding-right: 10vw;
	}
	.map-big {
		display: none;
	}
	#map-big {
    	display: none;
    }
    .card-info {
    	width: 80vw !important;
    	height: 550px !important;
    	margin-right: 5vw !important;
    	margin-left: 5vw !important;
    }
    .card-body-info {
    	padding: 0 !important;
    }
    .subheading1-info {
    	margin-top: 3vh !important;
    	padding-left: 20px !important;
    	padding-right: 20px !important;
    }
    .subheading2-info {
    	padding-left: 20px !important;
    	padding-right: 20px !important;
    	font-size: 15px !important;
    }
}