div.card-footer {
    margin-top: 30px;
    background-color: #A6CD9D;
}

div.text-center {
    back-color: #FFFFFF;
}

div.text-center > b {
    color: white;
    font-weight: bolder;

}


#banner {
    background-image: url("banner.png");
    background-size: cover;
    background-repeat: no-repeat;
}



