{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

    <!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     -->  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

    <link rel="stylesheet" href="{% static 'css/theme.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css" >
    <link rel="stylesheet" href="{% static 'css/assets.css' %}" type="text/css">

    <title> {% block title %} WAKAF {% endblock %}</title>
</head>

<!-- HEADER NAVBAR -->
<body class="bg-white">
<nav class="navbar navbar-expand-md navbar-light bg-light px-4 mb-4">
    <div class="container-fluid"> <a class="navbar-brand text-primary" href="#">
        <h1><b> WAKAF</b></h1>
    </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar4">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbar4">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mr-4"> <a class="nav-link" href="/">HOME</a> </li>
                <li class="nav-item mr-4"> <a class="nav-link" href="/assets/">ASSETS</a> </li>
                <li class="nav-item mr-4"> <a class="nav-link" href="#">ARTIKEL</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#">VOLUNTEER</a> </li>

            </ul>
        </div>
    </div>
</nav>
<!-- END HEADER NAVBAR -->

<!-- CONTENT -->
{% block content %}
{% endblock %}
<!-- END CONTENT -->

<!-- FOOTER -->
<div class="container-fluid bg-light" id="footer">
    <div class="row">
        <div class="p-4 col-md-6">
            <h6 class="mb-4">Wakaf</h6>
            <p>Century Center (8th floor)Kha-225, Progoti<br>Avenue Merul Badda,<br>Dhaka-1212<br></p>
            <p>+8801790603121</p>
            <p>Info@wakaf.com</p>
        </div>
        <div class="col-md-6">
            <div class="row" style="display: flex">
                <div class="p-4" style="width: 50%;">
                    <h6 class="mb-4">Layanan Kami</h6>
                    <p class="mb-1">Layanan #1</p>
                    <p class="mb-1">Layanan #2</p>
                    <p class="mb-1">Layanan #3</p>
                    <p class="mb-1">Layanan #4</p>
                    <p class="m-0">Layanan #5</p>
                </div>
                <div class="p-4" style="width: 50%;">
                    <h6 class="mb-4">Kantor Kami</h6>
                    <p class="mb-1">Perusahaan</p>
                    <p class="mb-1">Portofolio</p>
                    <p class="mb-1">Kisah Klien</p>
                    <p class="mb-1">Karir</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="p-4 col-md-12">
            <i class="fa fa-facebook mr-4" style="font-size: 20px"></i>
            <i class="fa fa-google-plus mr-4" style="font-size: 20px"></i>
            <i class="fa fa-instagram mr-4" style="font-size: 20px"></i>
            <i class="fa fa-linkedin mr-4" style="font-size: 20px"></i>
            <i class="fa fa-twitter mr-4" style="font-size: 20px"></i>
        </div>
    </div>
</div>
<!-- END FOOTER -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/home.js' %}"></script>





</body>

</html>