{% extends "navbarAdmin.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
    <div class="card mb-3 mt-2">
        <div class="card-header">
            <i class="fa fa-table"></i> Form Tambah Artikel
        </div>

        <div class="card-body">

            <form id="formArtikel" name="form" method="POST" action="{% url 'wakafadmin:addArtikel' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row m-2">
                    <div class="col-2">
                        Judul Artikel
                    </div>
                    <div class="col">
                        <input required type="text" class="form-control" name="nama" placeholder="Contoh: MHDC Pesona Square">
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-2">
                        Konten Artikel
                    </div>
                    <div class="col">
                        <input required type="text" class="form-control" name="konten" placeholder="Tulis deskripsi singkat disini">
                    </div>
                </div>

                <div class="row m-2">
                    <div class="col-2">
                        Konten Singkat (Preview)
                    </div>
                    <div class="col">
                        <input required type="text" class="form-control" name="preview" placeholder="Maksimal 400 karakter" maxlength="400">
                    </div>
                </div>

                <div class="row m-2">
                    <div class="col-2">
                        Tag
                    </div>
                    <div class="col">
                        <input required type="text" class="form-control" name="tag" placeholder="Contoh: Wirausaha">
                    </div>
                </div>

                <div class="row m-2">
                    <div class="col-2">
                        Foto
                    </div>
                    <div class="col">
                        <input required type="file" name="fotoArtikel">
                    </div>
                </div>
                <button class="btn btn-info" type="submit">Submit</button>

            </form>
        </div>
    </div>
    <div class="card mb-3 mt-2">
        <div class="card-header">
            <i class="fa fa-table"></i> Tambah Artikel Rekomendasi
        </div>

        <div class="card-body">
            <form id="formTesti" name="form" method="POST" action="{% url 'wakafadmin:addArtikelRekomendasi' %}">
                {% csrf_token %}
                <div class="row mx-2">
                    <div class="form-group">
                        <label for="testimonial">Pilih Judul artikel untuk dijadikan rekomendasi: *</label>
                        <select required class="form-control" name="artikel" id="artikel">
                            <option value="">Klik untuk memilih</option>
                            {% for artikel in listArtikel %}
                            <option value="{{ artikel.pk }}">{{ artikel.judul }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <button class="btn btn-info" type="submit">Submit</button>

            </form>

        </div>
    </div>
    <div class="card mb-3 mt-5">
        <div class="card-header">
            <i class="fa fa-table"></i> Daftar Artikel
        </div>


        <div class="card-body">
            <div><button id="refresh" onclick="refreshTable()"><i class="fa fa-refresh"></i> Refresh</button></div>
            <hr>
            <div class="table-responsive">
                <table class="table table-bordered table-cantik" id="carouselTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Foto</th>
                        <th>Judul Artikel</th>
                        <th>Konten</th>
                        <th>Konten Singkat</th>
                        <th>Tag</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Foto</th>
                        <th>Judul Artikel</th>
                        <th>Konten</th>
                        <th>Konten Singkat</th>
                        <th>Tag</th>
                        <th>Action</th>
                    </tr>
                    </tfoot>
                    <tbody class="table-cantik">

                    {% for artikel in listArtikel %}
                        <tr>
                            <td><img src="{{ artikel.urlFoto }}" style="width: 100%"> </td>
                            <td><p>{{ artikel.judul }}</p></td>
                            <td><p>{{ artikel.konten }}</p></td>
                            <td><p>{{ artikel.konten_singkat }}</p></td>
                            <td><p>{{ artikel.tag }}</p></td>
                            <td><button class="btn btn-danger" onclick="deleteArtikel({{artikel.pk }})">HAPUS!</button></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <div class="card mb-3 mt-5">
        <div class="card-header">
            <i class="fa fa-table"></i> Daftar Artikel Rekomendasi
        </div>


        <div class="card-body">
            <div><button id="refresh" onclick="refreshTable()"><i class="fa fa-refresh"></i> Refresh</button></div>
            <hr>
            <div class="table-responsive">
                <table class="table table-bordered table-cantik" id="paymentTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Foto</th>
                        <th>Judul Artikel</th>
                        <th>Konten</th>
                        <th>Konten Singkat</th>
                        <th>Tag</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Foto</th>
                        <th>Judul Artikel</th>
                        <th>Konten</th>
                        <th>Konten Singkat</th>
                        <th>Tag</th>
                        <th>Action</th>
                    </tr>
                    </tfoot>
                    <tbody class="table-cantik">

                    {% for artikel in listArtikelRekomendasi %}
                        <tr>
                            <td><img src="{{ artikel.parent.urlFoto }}" style="width: 100%"> </td>
                            <td><p>{{ artikel.parent.judul }}</p></td>
                            <td><p>{{ artikel.parent.konten }}</p></td>
                            <td><p>{{ artikel.parent.konten_singkat }}</p></td>
                            <td><p>{{ artikel.parent.tag }}</p></td>
                            <td><button class="btn btn-danger" onclick="deleteArtikelRekomendasi({{artikel.pk }})">HAPUS!</button></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>






    <script>
        {#$( "#formIndikator" ).submit(function( e ) {#}
        {#    e.preventDefault();#}
        {#    var program_id = $('#program').val();#}
        {#    $.ajax({#}
        {#        type:'POST',#}
        {#        url:"/wakaf_admin/addIndikator/"+program_id+"/",#}
        {#        data: {#}
        {#            program_id:program_id,#}
        {#            indikator:$('#indikator').val(),#}
        {#            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()#}
        {#        },#}
        {#        success:function () {#}
        {#            alert("BERHASIL");#}
        {#            location.reload();#}
        {#        }#}
        {#    });#}
        {#  });#}

        function refreshTable() {
            $("#tableLayanan").load(" #tableLayanan > *");
            return false;
        }

        var deleteArtikel = function(id){
            console.log(id);
            $.ajax({
                method: "GET",
                url: "/wakaf_admin/deleteArtikel/"+id+"/",
                success: function() {
                    alert("berhasil hapus Artikel");
                    location.reload();
                }
            });
        };


        var deleteArtikelRekomendasi = function(id){
            console.log(id);
            $.ajax({
                method: "GET",
                url: "/wakaf_admin/deleteArtikelRekomendasi/"+id+"/",
                success: function() {
                    alert("berhasil hapus Artikel Rekomendasi");
                    location.reload();
                }
            });
        };
    </script>

    <style>
        img {
            height: 60px;
            width: 60px;
        }
    </style>
{% endblock %}