{% extends "navbarAdmin.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
    <div class="card mb-3 mt-5">
        <div class="card-header">
            <i class="fa fa-table"></i> Form Tambah dan Edit Testimonial
        </div>

        <div class="card-body">

            <form id="formTesti" name="form" method="POST" action="{% url 'wakafadmin:addTesti' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row mx-2">
                    <div class="form-group">
                        <label for="testimonial">Pilih letak testimonial: *</label>
                        <select required class="form-control" name="letak" id="kegiatan">
                            <option value="">Klik untuk memilih</option>
                            <option value="1">Testimonial 1 (Terletak di kiri)</option>
                            <option value="2">Testimonial 2 (Terletak di tengah)</option>
                            <option value="3">Testimonial 3 (Terletak di kanan)</option>
                        </select>
                    </div>
                </div>

                <div class="row m-2">
                    <div class="col-2">
                        Nama Lengkap
                    </div>
                    <div class="col">
                        <input required type="text" class="form-control" name="nama" placeholder="Contoh: Jane Doe S.Kom">
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-2">
                        Pekerjaan / Role
                    </div>
                    <div class="col">
                        <input required type="text" class="form-control" name="jabatan" placeholder="Contoh: CEO Bukalapak">
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-2">
                        Konten
                    </div>
                    <div class="col">
                        <input required type="text" class="form-control" name="konten" placeholder="Masukan teks testimoni">
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-2">
                        Foto
                    </div>
                    <div class="col">
                        <input required type="file" name="fotoTesti">
                    </div>
                </div>
                <button class="btn btn-info" type="submit">Submit</button>

            </form>
        </div>
    </div>

    <div class="col-12">
        <div class="card mb-3 mt-5">
            <div class="card-header">
                <i class="fa fa-table"></i> Daftar Layanan
            </div>


            <div class="card-body">
                <div><button id="refresh" onclick="refreshTable()"><i class="fa fa-refresh"></i> Refresh</button></div>
                <hr>
                <div class="table-responsive">
                    <table class="table table-bordered table-cantik" id="carouselTable" width="100%" cellspacing="0">
                        <thead>
                        <tr><th>Posisi Testimoni</th>
                            <th>Foto</th>
                            <th>Nama dan Pekerjaan</th>
                            <th>Detail Konten</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Posisi Testimoni</th>
                            <th>Foto</th>
                            <th>Nama dan Pekerjaan</th>
                            <th>Detail Konten</th>
                            <th>Action</th>
                        </tr>
                        </tfoot>
                        <tbody class="table-cantik">
                        {% for testi in testi1 %}
                            <tr>
                                <td>1 (KIRI)</td>
                                <td><img src="{{ testi.urlFoto }}"></td>
                                <td><p>{{ testi.nama }}</p> <p>{{ testi.jabatan }}</p></td>
                                <td><p>{{ testi.konten }}</p></td>
                                <td><button class="btn btn-danger" onclick="deleteTesti1({{ testi.pk }})">HAPUS!</button></td>
                            </tr>
                        {% endfor %}
                        {% for testi in testi2 %}
                            <tr>
                                <td>2 (TENGAH)</td>
                                <td><img src="{{ testi.urlFoto }}"></td>
                                <td><p>{{ testi.nama }}</p> <p>{{ testi.jabatan }}</p></td>
                                <td><p>{{ testi.konten }}</p></td>
                                <td><button class="btn btn-danger" onclick="deleteTesti2({{ testi.pk }})">HAPUS!</button></td>
                            </tr>
                        {% endfor %}
                        {% for testi in testi3 %}
                            <tr>
                                <td>3 (KANAN)</td>
                                <td><img src="{{ testi.urlFoto }}"></td>
                                <td><p>{{ testi.nama }}</p> <p>{{ testi.jabatan }}</p></td>
                                <td><p>{{ testi.konten }}</p></td>
                                <td><button class="btn btn-danger" onclick="deleteTesti3({{ testi.pk }})">HAPUS!</button></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        var deleteTesti1 = function(id){
            console.log(id);
            $.ajax({
                method: "GET",
                url: "/wakaf_admin/deleteTesti1/"+id+"/",
                success: function() {location.reload();}
            });
        }

        var deleteTesti2 = function(id){
            console.log(id);
            $.ajax({
                method: "GET",
                url: "/wakaf_admin/deleteTesti2/"+id+"/",
                success: function() {location.reload();}
            });
        }

        var deleteTesti3 = function(id){
            console.log(id);
            $.ajax({
                method: "GET",
                url: "/wakaf_admin/deleteTesti3/"+id+"/",
                success: function() {location.reload();}
            });
        }

        function refreshTable() {
            $("#tableLayanan").load(" #tableLayanan > *");
            return false;
        }
    </script>

    <style>
        img {
            height: 60px;
            width: 60px;
        }
    </style>
{% endblock %}